<app-selec-mes [titulo]="'Parte de Actividades Mensual'" [empleado]="empleado" [periodo]="periodo"
    (periodoEvent)="seleccionPeriodo($event)"></app-selec-mes>

<table class="grid-actividades table-striped">
  <thead>
  <tr class="fondoAzul">
      <th >Proyecto</th>
      <th >Concepto</th>
      <th *ngFor="let dia of diaMes" >{{ dia }}</th>
  </tr>
  </thead>
  <tbody>
      <tr  *ngFor="let actividad of parteActividad.actividades; index as i">
          <td >
            <mat-form-field class="anchoSelec">
              <mat-select class="zindexAlto" [(ngModel)]="actividad.proyecto" name="proyecto">
                <mat-option  *ngFor="let proyecto of proyectos; index as p"
                  [value]="proyecto" >
                  {{ proyecto }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td >
            <mat-form-field class="anchoSelec">
              <mat-select class="zindexAlto" [(ngModel)]="actividad.concepto" name="concepto">
                <mat-option  *ngFor="let concepto of conceptos; index as c"
                  [value]="concepto" >
                  {{ concepto }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td *ngFor="let hora of actividad.horas ; let h = index ; trackBy:trackByFn"  [ngStyle]="{'color':'black','background-color':getBackgroundColor(h)}">
            <input type="number" step="1" (input)="calcularTotales()" matInput size="2" maxlength="2" placeholder="0" min="0" max="24" [(ngModel)]="actividad.horas[h]"
                class="margin-dcho-small" (dblclick)="open(actividad, h)"
                [ngStyle]="actividad.horas[h] > 0 ? {'color': 'blue'} : {'color': 'black'}">
          </td>     
          <td class="anchoColBtn centrado"
                [ngClass]="{'borrador': parteActividad.estado == 'borrador', 
                'enviado': parteActividad.estado == 'enviado', 
                'visado': parteActividad.estado == 'visado', 
                'rechazado': parteActividad.estado == 'rechazado', 
                'disfrutado': parteActividad.estado == 'disfrutado'}" 
                (click)="borrar(i)" >
            <span>X</span>
          </td>
        </tr>
        <tr >
          <td></td>
          <td class="derecha">Total</td>
          <td  *ngFor="let total of totales" class="rojo">
            {{ total }}
          </td>
          <td class="rojo"> {{ total }}</td>
        </tr>
  </tbody>
</table>
<!-- 
<section>
   <div class="example-button-row">
    <button mat-button (click)="annadir()" >Añadir</button>
    <button mat-button (click)="guardar()" color="primary">Guardar</button>
    <button mat-button (click)="enviar()" color="primary">Enviar</button>
    <button mat-button (click)="cancelar()" color="primary">Cancelar</button>
   </div>
</section>
-->

<div class="btn-izquierda">
  <span class="container" style="color:black ;background-color: darkgrey;">Borrador</span>
  &nbsp;
  <span class="container" style="color:black ;background-color: lightslategrey;">Enviado</span>
  &nbsp;
  <span class="container" style="color:black ;background-color: rgba(0, 255, 0, 0.575);">Visado</span>
  &nbsp;
  <span class="container" style="color:black ;background-color: rgb(218, 68, 68);">Rechazado</span>
</div>
<div class="btn-derecha">
  <button mat-stroked-button color="primary" (click)="annadir()" *ngIf="router.url == '/partes/actividades'">
    <mat-icon>edit</mat-icon>Añadir			
  </button>
  &nbsp;
  &nbsp;
  <button mat-stroked-button color="primary"  (click)="guardar()" *ngIf="router.url == '/partes/actividades'">
    <mat-icon>save</mat-icon>Guardar
  </button>
  &nbsp;
  &nbsp;
  <button mat-stroked-button color="primary"  (click)="enviar()"  *ngIf="router.url == '/partes/actividades'">
    <mat-icon>send</mat-icon>Enviar			
  </button>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <button mat-stroked-button color="primary" (click)="aceptar()" *ngIf="revisionGerente">
    <mat-icon>check</mat-icon>Aceptar
  </button>
  &nbsp;
  &nbsp;
  <button mat-stroked-button color="primary" (click)="rechazar()" *ngIf="revisionGerente">
    <mat-icon>close</mat-icon>Rechazar			
  </button>
  <button mat-stroked-button color="primary">
    <mat-icon>cancel</mat-icon>Cancelar
  </button>
  &nbsp;
  &nbsp;
  <button mat-stroked-button color="primary">
    <mat-icon>print</mat-icon>Imprimir
  </button>	
</div>

<br/><br/><br/>