.example-card {
    max-width: 400px;
    margin-left: 2rem;
    box-shadow: none;;
  }
  
  .example-header-image {
    background-image: url('/assets/login_head.png');
    background-size: cover;
  }