<h1 mat-dialog-title> Detalle </h1>
<div mat-dialog-content class="centrado">

  <mat-form-field class="example-full-width">
    <mat-label>Día</mat-label>
    <input matInput placeholder="Día" [(ngModel)]="data.dia" disabled>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Horas</mat-label>
    <input matInput type="number" min="0" max="24" placeholder="Horas" [(ngModel)]="data.horas" #inputHoras>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Observaciones</mat-label>
    <textarea matInput placeholder="Observaciones" [(ngModel)]="data.observaciones">
    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button type="button" class="btn btn-secondary"  (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>
