<app-selec-mes [titulo]="'Parte de Actividades Mensual'" [empleado]="empleado" [periodo]="periodo"
	(periodoEvent)="seleccionPeriodo($event)"></app-selec-mes>
	
<div class="contenedorTabla">
	<table class="table table-striped">
	    <thead >
			<tr class="fondoAzul"> 
				<th scope="col">Proyecto</th><th scope="col">Desde - Hasta</th><th scope="col">Tipo</th>
		 		<th scope="col">Unidades</th><th scope="col">Importe</th><th scope="col">Total</th><th scope="col">Descripción</th>
				<th scope="col">Estado</th><th scope="col">Borrar</th>
		 	</tr>
		</thead>
	  	<tbody>
			<tr *ngFor="let gasto of GASTOS_EMPLEADO; index as i" 
				[ngStyle]="gasto.idEstado > 0 ? {'color': 'blue'} : {'color': 'black'}">
				<td>
					<div> 
						<mat-select [compareWith]="compararProyectos" class="campo100 form-control" [(ngModel)]="gasto.proyecto" name="proyecto">
							<mat-option *ngFor="let proy of getProyectos(); index as p" [value]="proy" [id]="proy.idProyecto">
							  {{ proy.dsProyecto }}
							</mat-option>
						</mat-select>
						
						<!--{{gasto.proyecto.dsProyecto}}-->
						<!--<select class="custom-select" selected value="gasto.proyecto.dsProyecto" [(ngModel)]="gasto.proyecto">  
							<option value="">Lista de Proyectos - Obtener del backend</option>
							<option [ngValue]="proy" *ngFor="let proy of getProyectos(); index as p">								
								{{proy.dsProyecto}}
							</option>
						</select>-->						 

						<!--<select class="custom-select" [(ngModel)]="gasto.dsProyecto" (change)="guardar()">
							<option value="">Lista de Proyectos - Obtener del backend</option>-->
							<!-- Aquí irá un *ngFor con la lista de Proyectos -->
							<!--<option value="CMMA">CMMA</option>
							<option selected value="Proyecto 1">Proyecto 1</option>
							<option value="Proyecto 2">Proyecto 2</option>
							<option value="Interproyecto">Interproyecto</option>
						</select>-->
					</div>
				</td>
				<td>
					<div class="row">
						<div>
						  <input type="text"
								 placeholder="Desde Hasta"
								 class="form-control theme-blue"
								 #drp="bsDaterangepicker" bsDaterangepicker
								 [(ngModel)]="gasto.rangoFechas"
								 [bsConfig]="bsConfig"> 
						</div> 					
						<div>
							<button class="btn" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen" type="button">
							<mat-icon>date_range</mat-icon>
							</button>
						</div>
					</div>
				</td>
				<td>		
					<div>	
						<mat-select [compareWith]="compararTiposGasto" class="campo100 form-control" [(ngModel)]="gasto.tipoGasto" name="tipo" >
							<mat-option *ngFor="let tip of getTipoGasto(); index as t" [value]="tip" >
							  {{ tip?.dsTipoGasto }}
							</mat-option>
						</mat-select>


						<!--<select class="custom-select" [(ngModel)]="gasto.tipoGasto.dsTipoGasto">
							<option value="">Lista de Tipos - Obtener del backend</option>-->
							<!-- Aquí irá un *ngFor con la lista de Tipos -->
							<!--<option value="Transporte">Transporte</option>
							<option value="Comida">Comida</option>
							<option value="Alojamiento">Alojamiento</option>
							<option value="Taxi">Taxi</option>
							<option value="Desayuno">Desayuno</option>
						</select>--> 
					</div>
				</td>
				<td>
					<input (change)="actualizaTotal(i)" type="number" class="form-control campoNum" [(ngModel)]="gasto.nmUnidades"/>
				</td>
				<td>
					<input (change)="actualizaTotal(i)" type="number" class="form-control campoNum" [(ngModel)]="gasto.nmImporte"/>
				</td>
				<td>
					<input type="number" disabled="true" class="form-control campoNum" [(ngModel)]="gasto.nmTotal"/>
				</td>
				<td>
					<input type="text" class="form-control campoNum" [(ngModel)]="gasto.dsDescripcion"/>
				</td>
				<td>
					<input type="text" disabled="true" class="form-control campoNum" value= "{{gasto.estado.dsEstado}}"
					[ngClass]="{'borrador': gasto.estado.idEstado == 0, 
							'enviado': gasto.estado.idEstado == 1, 
							'visado': gasto.estado.idEstado == 2, 
							'rechazado': gasto.estado.idEstado == 3}"/>
				</td>
				<td>
					<div>
						<button mat-mini-fab color="warn" (click)="borrar(i)">
							<mat-icon>delete</mat-icon>
						</button>
					</div>				
				</td>
			</tr>	
		</tbody>
	</table>

</div>

<div class="btn-izquierda">
		<span class="container" style="color:black ;background-color: darkgrey;">Borrador</span>
		&nbsp;
		<span class="container" style="color:black ;background-color: lightslategrey;">Enviado</span>
		&nbsp;
		<span class="container" style="color:black ;background-color: rgba(0, 255, 0, 0.575);">Visado</span>
		&nbsp;
		<span class="container" style="color:black ;background-color: rgb(218, 68, 68);">Rechazado</span>
		&nbsp;
		&nbsp;
</div>
<div class="btn-derecha">
		<button mat-stroked-button color="primary" (click)="annadir()">
			<mat-icon>edit</mat-icon>Añadir			
		</button>
		&nbsp;
		&nbsp;
		<button mat-stroked-button color="primary" (click)="guardar()">
			<mat-icon>save</mat-icon>Guardar
		</button>
		&nbsp;
		&nbsp;
		<button mat-stroked-button color="primary" (click)="enviar()">
			<mat-icon>send</mat-icon>Enviar
		</button>
		&nbsp;
		&nbsp;
		<button mat-stroked-button color="primary" (click)="cancelar()">
			<mat-icon>cancel</mat-icon>Cancelar
		</button>
		&nbsp;
		&nbsp;
		<button mat-stroked-button color="primary" (click)="imprimir()">
			<mat-icon>print</mat-icon>Imprimir
		</button>
		&nbsp;
		&nbsp;
		<button *ngIf="revisionGerente" mat-stroked-button color="primary" (click)="visar()">
			<mat-icon>done</mat-icon>Visar
		</button>
		&nbsp;
		&nbsp;
		<button *ngIf="revisionGerente" mat-stroked-button color="primary" (click)="rechazar()">
			<mat-icon>cancel</mat-icon>Rechazar
		</button>	
	</div>

<br/><br/><br/>

