
<DIV class=medio3><H1>SIPAC</H1><SPAN>Sistema Interno de Partes </SPAN>
    <P><B>INSTRUCCIONES PARA RELLENAR LOS PARTES</B> </P>
    <DIV style="WIDTH: 50%; FLOAT: left; PADDING-RIGHT: 10px"><B>ACTIVIDADES</B> 
    <UL class="bloque">
    <LI>Seleccione el Proyecto y Concepto al que desee imputar horas. (Pulsando sobre el icono 'P' podrá seleccionarlos por nombre) 
    <LI>Rellene para cada dia el número de horas para el Proyecto y Concepto seleccionado en la casilla correspondiente 
    <LI>Si necesita añadir observaciones para algún día haga doble click sobre la casilla del día 
    <LI>Para crear un nuevo Proyecto o Concepto, pulse el botón Añadir y repita los pasos anteriores 
    <LI>Para borrar un Proyecto y Concepto, pulse el botón de Borrado (X) de la linea correspondiente 
    <LI>Las imputaciones se podrán guardar en modo 'borrador' pulsando el botón Guardar 
    <LI>Cuando termine y verifique el parte mensual, pulse el botón Enviar 
    <LI>Las Ausencias y Vacaciones se imputarán con el proyecto correspondiente y con el número de horas habituales por día 
    <LI>Cualquier falta deberá ser debidamente justificada (parte médico, justificante de examen, ...) </LI></UL></DIV>
    <DIV style="WIDTH: 49%; FLOAT: left"><B>GASTOS</B> 
    <UL class="bloque">
    <LI>Seleccione el Proyecto y Concepto al que desee imputar gastos 
    <LI>Seleccione el rango de fechas de imputación del gasto (no rellene la Fecha Hasta si es un gasto puntual) 
    <LI>Seleccione el Tipo de Gasto, Unidades, Importe (opcional) y Total, y si corresponde, la Descripción 
    <LI>Para crear un nuevo Gasto, pulse el botón Añadir y repita los pasos anteriores 
    <LI>Para borrar un Gasto, pulse el botón de Borrado (X) de la linea correspondiente 
    <LI>Los gastos se podrán guardar en modo 'borrador' pulsando el botón Guardar 
    <LI>Cuando termine y verifique el parte mensual, pulse el botón Enviar 
    <LI>Cualquier Gasto deberá ser debidamente justificado, mediante factura o documento similar </LI></UL>
    <P>&nbsp; </P></DIV><BR style="CLEAR: both"><B>SOLICITUD DE VACACIONES</B> 
    <UL class="bloque">
    <LI>Entrar en “solicitud vacaciones” y marcar los días deseados haciendo click sobre los recuadros. 
    <LI>La solicitud se podrá guardar en modo 'borrador' pulsando el botón Guardar. 
    <LI>Para proceder al envío de la solicitud pulse el botón Enviar. 
    <LI>No se podrá disfrutar de vacaciones que no estén debidamente solicitadas y visadas por el gerente. 
    <LI>Una vez se haya visado su solicitud, en ‘Parte de Actividad’ añadimos el proyecto “vacaciones”, y éstas se cargarán automáticamente. </LI></UL><BR><!-- ~#R </p> --></DIV>